body {
    margin: 25px;
    font-family: arial, sans-serif;
    font-size: 14px;
  }
  
  h1 {
    color: rebeccapurple;
    background-color: cornflowerblue;
    border: 5px solid darkblue;
  }
  
  h2 {
    color: darkslateblue;
    font-size: 30px;
  }